:root {
    --main-color: #007bff; // Replace with your actual main color
  }
  
.profile {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 121px 0;
  
    .left_page {
      width: 300px;
      background-color: white;
      padding: 30px;
      border-radius: 8px;
  
      h3 {
        margin-bottom: 20px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
          cursor: pointer;
          color: #007bff;
          transition: color 0.3s;
  
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  
    .right_pages {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .right_page {
      width: 800px;
      background-color: white;
      padding: 30px;
      border-radius: 8px;
  
      h3 {
        margin-bottom: 20px;
      }
  
      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
  
        input {
          margin-top: 8px;
          border: 1px solid #DFE1E3;
          outline: none;
          padding: 10px 15px;
          border-radius: 4px;
  
          &::placeholder {
            color: gray;
          }
        }
      }
  
      .set-card__info__buttons {
        padding: 10px 20px;
        border-radius: 4px;
        background-color:#007bff;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: darken(#007bff, 10%);
        }
      }
    }
  }
  