.Title {
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  &__childs {
    text-align: center;
  }
  span {
    color: var(--main-color);
  }
}
.see-all {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

@media (max-width:600px) {
  .Title{
    font-size: 20px;
  }
  .see-all{
    font-size: 16px;
  }
}