main {
  .hero {
    margin-bottom: 80px;
    background-color: #f8e5e7;
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    width: 100%;
    height: 50vh;
    margin-top: 69px;
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        width: 562px;
        text-transform: uppercase;
        font-size: 36px;
        color: var(--primary-text-color);
      }
      p {
        color: var(--primary-text-color);
        font-size: 24px;
        margin: 20px 0 54px 0;
      }
      button {
        padding: 10px 87px;
        border-radius: 4px;
        width: fit-content;
        background-color: var(--main-color);
        font-size: 14px;
        font-weight: 500;
        border: none;
        outline: none;
      }
    }
  }
  .swipers {
    margin-bottom: 80px;
    &__container {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 80px;
    }
  }
  .sets {
    &__container {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 60px;
    }
  }
}
