.set-card {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-rows:  500px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: stretch;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    h1 {
        font-weight: 500;
        font-size: 36px;
        color: var(--primary-text-color);
    }
    p {
        font-size: 16px;
        color: var(--secondary-text-color);
    }
    &__tags {
        display: flex;
        gap: 5px;
        li {
            line-height: 30px;
            border-radius: 15px;
            padding: 0 10px;
            font-size: 12px;
            background-color: #b4b0be33;
            backdrop-filter: 20xp;
        }
    }
    &__buttons{
        display: flex;
        gap: 10px;
        button{
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 40px;
            color: var(--primary-text-color);
            background: none;
            &:first-child{
                background-color: var(--main-hover-color);
                width: 40%;&:hover{
                    background-color: var(--main-color);
                }
            }
        }
    }
  }
  &__img {
      height: 500px;
      border-radius: 6px;
      background-image: url("/public/images/set.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .left{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .right{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}
