header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    .logo_site{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
    z-index: 100;
    .header_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        // padding: 15px 0;
        .header_list{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-size: 15px;
            .header_item{
                padding: 25px 0 ;
                .sub_link{
                    display: none;
                    width: 100vw;
                    background-color: white;
                    position: absolute;
                    top: 60px;
                    left: 0;
                    &:hover{
                        display: block;
                    }
                }
                .sub_box{
                    display: flex;
                    align-items: start;
                    flex-wrap: wrap;
                    gap: 30px;
                    padding: 30px 0;
                    ul{
                        h3{
                            border-bottom: 1px solid gray;
                            padding: 10px 0;
                        }
                        flex: 1 1 calc(25% - 30px);
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        cursor: pointer;
                        li{
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &:hover{
                    .sub_link{
                        display: block;
                    }
                }
            }
            .active{
                border-bottom: 1px solid black;
            }
        }
        .options{
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .option_items, .burger_menu_item, .media_item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            font-size: 12px;
            .icon{
                font-size: 20px;
            }
        }
        .burger_menu, .media_item{
            display: none;
        }

    }
}
.no_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    user-select: none;
    overflow: hidden;
    img{
        width: 100%;
        padding: 40px;
    }
    .link_cart{
        text-decoration: underline;
    }
}
.cart_link{
    position: relative;
    span{
        position: absolute;
        right: -2px;
        top: -5px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}
.cart_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 94vh;
    .cart_items{
        overflow-x: hidden;
        max-height: 100vh;
        padding: 20px;
        .cart_item{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 0;
            border-bottom: 1px solid rgba(128, 128, 128, 0.452);
            img{
                width: 150px;
                height: 150px;
                object-fit: contain;
            }
            .cart_body{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
            }
            .price{
                font-weight: 400;
            }
            .cart_btn{
                display: flex;
                align-items: center;
                gap: 20px;
                .cart_controls{
                    display: flex;
                    align-items: center;
                    border: 1px solid rgba(128, 128, 128, 0.452);
                    border-radius: 5px;
                    // width: 60px;
                    span{
                        text-align: center;
                        width: 50px;
                    }
                    button{
                        width: 100%;
                        outline: none;
                        background: transparent;
                        border: none;
                        padding: 3px;
                        font-size: 16px;
                    }
                }
                .remove_btn{
                    border: none;
                    background: transparent;
                    font-size: 16px;
                }
            }
        }
    }
    .cart_footer{
        border-top: 1px solid rgba(128, 128, 128, 0.452);
        background-color: white;
        width: 100%;
        padding: 0 30px;
        h3{
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            span{
                color: gray;
                font-weight: 400;
            }
        }
        button{
            margin: 10px 0px 20px 0px;
            border: none;
            width: 100%;
            padding: 15px;
            font-size: 17px;
            font-weight: bold;
            background-color: #F8E5E7;
        }
    }
}
.ant-drawer-body{
    padding: 0 !important;
}
.header_menu, .header_menu_cart{
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8E5E7;
    margin-bottom: 10px;
    h3{
        font-size: 16px;
    }
    button{
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 20px;
    }
}
.header_menu_cart{
    background: transparent;
    position: relative;
    border-bottom: 1px solid black;
    padding: 15px 0;
    margin: 0 15px 0 18px;
    .bottom{
        bottom: -7px;
        left: -7px;
        position: absolute;
    }
}
@media (max-width: 1158px){
    .header_list, .options{
        display: none !important;
    }
    .media_item{
        display: flex !important;
    }
    .burger_menu{
        display: block !important;
    }
    .menu_box{
        font-weight: bold;
        .option_menu{
            display: flex;
            align-items: center;
            padding: 10px 24px;
            .option_items{
                display: flex;
                align-items: center;
            }
            .icon{
                margin-right: 10px;
                font-size: 18px;
            }
        }
        ul{
            li{
                width: 100%;
                padding: 10px 24px;
            }
        }
    }
    .collapse_menu .ant-collapse-header{
        padding: 0 !important;
        font-size: 14px;
    }
    .collapse_menu_item .ant-collapse-header{
        padding: 12px 16px !important;
    }
}