header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    .logo_site{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
    z-index: 100;
    .header_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 15px 0;
        .header_list{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-size: 15px;
            .active{
                border-bottom: 1px solid black;
            }
        }
        .options{
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .option_items, .burger_menu_item, .media_item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            font-size: 12px;
            .icon{
                font-size: 20px;
            }
        }
        .burger_menu, .media_item{
            display: none;
        }

    }
}
.cart_item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    img{
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    .cart_body{
        display: flex;
        flex-direction: column;
    }
    .cart_btn{
        display: flex;
        align-items: center;
        gap: 20px;
        .cart_controls{
            button{
                border: none;
                padding: 4px;
            }
        }
    }
}
.ant-drawer-body{
    padding: 0 !important;
}
.header_menu, .header_menu_cart{
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8E5E7;
    margin-bottom: 10px;
    h3{
        font-size: 19px;
    }
    button{
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 20px;
    }
}
.header_menu_cart{
    background: transparent;
    position: relative;
    border-bottom: 1px solid black;
    padding: 15px 0;
    margin: 0 15px 0 18px;
    .bottom{
        bottom: -7px;
        left: -7px;
        position: absolute;
    }
}
@media (max-width: 1130px){
    .header_list, .options{
        display: none !important;
    }
    .media_item{
        display: flex !important;
    }
    .burger_menu{
        display: block !important;
    }
    .menu_box{
        font-weight: bold;
        .option_menu{
            display: flex;
            align-items: center;
            padding: 10px 24px;
            .option_items{
                display: flex;
                align-items: center;
            }
            .icon{
                margin-right: 10px;
                font-size: 18px;
            }
        }
        ul{
            li{
                width: 100%;
                padding: 10px 24px;
            }
        }
    }
    .collapse_menu .ant-collapse-header{
        padding: 0 !important;
        font-size: 14px;
    }
    .collapse_menu_item .ant-collapse-header{
        padding: 12px 16px !important;
    }
}