.loader {
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
      45deg,
      #6fc7b5 0%,
      #13bdce 20%,
      #0094d9 40%,
      #5a3694 60%,
      #ee4d74 80%,
      #f58c58 100%
    );
    background-size: 600%;
    animation: gradient 7s ease-in-out infinite;
  }
  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loading .logo {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/440564/galleria-en.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 180px;
  }
  
  .loading .dots {
    position: relative;
  }
  
  .loading .dots.animate .dot {
    animation: loading-block 7s ease-in-out infinite;
  }
  
  .loading .dots.animate .dot:after {
    animation: loading-dot 7s ease-in-out infinite;
  }
  
  .loading .dots .dot {
    position: absolute;
    width: 300px;
    height: 300px;
  }
  
  .loading .dots .dot:after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform: scale(0.17);
  }
  
  /* Dot positions */
  .loading .dots .dot:nth-child(1) {
    top: 120px;
    left: -209px;
    animation-delay: 0s;
  }
  
  .loading .dots .dot:nth-child(1):after {
    transform-origin: top right;
    top: 0;
    right: 0;
  }
  
  .loading .dots .dot:nth-child(2) {
    top: -161px;
    left: -194px;
    animation-delay: 0.25s;
  }
  
  .loading .dots .dot:nth-child(2):after {
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
  }
  
  .loading .dots .dot:nth-child(3) {
    top: -161px;
    left: -101px;
    animation-delay: 0.5s;
  }
  
  .loading .dots .dot:nth-child(3):after {
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
  }
  
  .loading .dots .dot:nth-child(4) {
    top: 116px;
    left: 200px;
    animation-delay: 0.75s;
  }
  
  .loading .dots .dot:nth-child(4):after {
    transform-origin: top left;
    top: 0;
    left: 0;
  }
  
  .loading .dots .dot:nth-child(5) {
    top: -161px;
    left: 214px;
    animation-delay: 1s;
  }
  
  .loading .dots .dot:nth-child(5):after {
    transform-origin: bottom left;
    bottom: 0;
    left: 0;
  }
  
  /* Animations */
  @keyframes loading-block {
    0%, 100% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    50% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  
  @keyframes loading-dot {
    0%, 100% {
      transform: scale(0.17);
    }
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  