.prod-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 290px;
  min-width: 200px;
  height: 540px;
  background-color: white;
  border-radius: 6px;
  .card__link::after{
    content: '';
    position: absolute;
    inset: 0;
  }
  &__head {
    position: relative;
    height: 290px;
    overflow: hidden;
    .stickers {
      top: 20px;
      left: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        height: 30px;
        padding: 0 20px;
        border-radius: 0 15px 15px 0;
        line-height: 30px;
        width: fit-content;
        font-size: 14px;
        font-weight: 500;
      }
      .top {
        background-color: var(--secondary-color);
      }
      .discount {
        background-color: var(--main-color);
      }
    }
    img {
      border-radius: 2px 2px 0 0;
      object-fit: cover;
      width: 100%;
      height: 290px;
      object-position: center;
    }
    svg {
      position: absolute;
      top: 20px;
      right: -18px;
      opacity: 0;
      transition: all linear 0.3s;
      cursor: pointer;
    }
  }
  &__body {
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__title {
      transition: all linear 0.3s;
      font-size: 16px;
      font-weight: 600;
      width: 100%;
      color: var(--primary-text-color);
    }
    &__description {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      color: var(--secondary-text-color);
    }
    &__price {
      color: var(--primary-text-color);
      font-size: 16px;
    }
  }
  &__foot {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 100%;
    span{
      margin: 0 auto;

    }
    button {
      position: relative;
      border: 1px solid #3a3a3a;
      border-radius: 4px;
      box-shadow: none;
      color: #3a3a3a;
      font-weight: 500;
      padding: 10px 0;
      text-shadow: none;
      transition: all linear 0.3s;
      background: none;
      line-height: 22px;
    }
    .add-btn {
      width: 100%;
      font-size: 14px;
    }
    .quantity-btn{
      width: 35%;
      min-width: 30px;
      font-size: 22px;
    }

  }
    @media (hover: hover){
      button:hover{
        color: white;
        background-color: #3a3a3a;
      }
    }
    @media (hover: none){
      button:hover{
        color: #3a3a3a;
        background: transparent;
      }
    }
  &:hover {
    .prod-card__body {
      &__title {
        color: var(--main-color);
      }
    }
    .prod-card__head {
      svg {
        opacity: 1;
        right: 23px;
      }
    }
  }
}

@media (max-width: 500px) {
  .prod-card {
    height: 450px;
    &__head {
      height: 220px;
      img {
        height: 220px;
        width: 100%;
      }
    }
    &__body {
      &__title {
        font-size: 14px;
      }
    }
  }
}
