:root {
  --bg-color: #ebecf0;
  --text-color: #babecc;
  --input-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scrollbar-width: none;
  /* user-select: none; */
}

ul {
  list-style-type: none;
}

body,
html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.loader {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(255, 0, 0, 0.342);
  border-top: 5px solid red;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 0 30px;
  }
}
