:root {
  --main-color: #f5a3b7;
  --main-hover-color: #f8e5e7;
  --secondary-color: #b0a6bd;
  --primary-text-color: #383533;
  --secondary-text-color: #697586;
  --bg-color: #f9fafc;
  --input-color: black;
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
  box-sizing: border-box;
  font-family: sans-serif;
  scrollbar-width: none;
  /* user-select: none; */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

ul {
  list-style-type: none;
}

body,
html {
  font-family: sans-serif;
  background-color: var(--bg-color);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.loader {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(255, 0, 0, 0.342);
  border-top: 5px solid red;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 0 15px;
  }
}
